/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

/* First nav */

/* Left */
.nav-first{
    width: 100%;
    background-color: #F4F9FD;
    border-bottom: 1px solid #5F6F7C;

}

#nav-language{
    display: inline-block;
    margin: 20px 0px;
    padding-right: 20px;
    border-right: 1px solid #5F6F7C;
    color: #5F6F7C;

}

#contact{
    text-decoration: none;
    padding-left: 20px;
    color: #5F6F7C;
    display: inline-block
}

#nav-language, #contact{
    vertical-align: middle;
    font-size: 20px;
}

/* Right */

.f-right{
    padding: 15px;
}

a.search{
    color: #5F6F7C;
    text-decoration: none
    
}


.f-right .search, button{
    margin-right: 20px;
    vertical-align: middle;
}

#login-btn, .Get-one{
    padding: 10px; 
}

#login-btn{
    border: 1px solid #FE7759;
    color: #FE7759;
    background-color: transparent;
}


/* Second nav */

/* Left */
.nav-second img{
   padding-top: 7px;
    vertical-align: middle;
}


/* Right */

.nav-second{
    width: 100%;
    background-color: white;
}

.nav-second ul{
    margin-right: 15px;
}

.nav-second ul li{
    display: inline-block;
    padding-left: 25px;
}

.nav-second ul li a{
    text-decoration: none;
    color: black;
}

.nav-second ul li a:not(#not-arrowed):after{
    content: "  \02C5";
}

/* jumbotron */

.jumbotron{
    position: relative;
    height: 700px;
    background-image: url(hubspot-img/jumbotron.png);
    background-size: contain;
}


.jumbotron .wrapper .column-3 > *, p:not(.jumbotron-btn){
    padding-top: 20px;
}

.jumbotron-btn{
    display: inline-block;
    padding: 20px 30px;
    margin-top: 20px;
}

.green-bar{
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    background-color: #AFEBE4;
}




/* Big grey section */

#cube{
    width: 250px;
    object-fit: contain;
}

.img-container{
    padding-top: 40px;
    margin: auto;
}

.grey-section .wrapper >h1, .grey-section .wrapper 
>p{
    text-align: center;
}

.crm-left{
    padding: 50px 0px 20px 70px;
}
.crm-left img{
    height: 200px;
}
.crm-left button{
    width: 100%;
    padding: 20px 0px;
    margin-bottom: 80px;
}

.crm-right{
    padding: 50px 0px 0px 20px;
   
}


.crm-right-bottom{
    padding: 30px 0px 0px 20px;
 
}

.crm-right-bottom >p{
    text-transform: uppercase;
    font-weight: bold;
    text-align: middle;
    display: inline-block;
}

/* Small white box section */

.white-box-small{
    width: calc(100% - 10px);
    background-color: white;
    padding-bottom: 40px;
}

.middle-white-box{
    margin: auto;
}


.left-white-box{
    margin-right: 10px;
}

.right-white-box{
    margin-left: 10px;   
}












/* Useful classes */

.wrapper{
    width: 1024px;
    margin: auto;
    height: 100%;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

.f-right{
    float: right;
}

button{
    border-radius: 8px;
}

.orange-btn{
    background-color: #FE7759;
    border: none;
    color: white;
}



.column-3{
    width: calc(100% / 3);
    height: 100%;
    float: left;
}

.column-35{
    width: 35%;
    height: 100%;
    float: left;
}

.column-65{
    width: 65%;
    height: 100%;
    float: left;
}

.container-vert-align{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


.grey-section{
    background-color: #F4F9FC;
    height: 100%
}




.width-250{
    width: 250px;
    margin: auto;

}

.container-orizz-align{
    
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}


.white-box-big{
    margin: 80px 0px;
    background-color: white;
    width: 100%;
    padding-bottom: 40px;
}

.small-hr{
    height: 2px;
    width: 60%;
    display: inline-block;
    background-color: black;
    margin-bottom: 5px;
    margin-left: 20px;
}

#checklist{
    height: 100%;
    margin-top: 30px;
}

.check{
    display: inline-block;
    width: 18px;
    height: 18px;
    color: white;
    background-color:  #FE7759;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 50px;
}

.visual{
    background-color: transparent;
    height: 300px;
}




