/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

/* First nav */

/* Left */
.nav-first{
    width: 100%;
    background-color: #F4F9FD;
    border-bottom: 1px solid #5F6F7C;

}

#nav-language{
    display: inline-block;
    margin: 20px 0px;
    padding-right: 20px;
    border-right: 1px solid #5F6F7C;
    color: #5F6F7C;

}

#contact{
    text-decoration: none;
    padding-left: 20px;
    color: #5F6F7C;
    display: inline-block
}

#nav-language, #contact{
    vertical-align: middle;
    font-size: 20px;
}

/* Right */

.f-right{
    padding: 15px;
}

a.search{
    color: #5F6F7C;
    text-decoration: none
    
}


.f-right .search, button{
    margin-right: 20px;
    vertical-align: middle;
}

#login-btn, .Get-one{
    padding: 10px; 
}

#login-btn{
    border: 1px solid #FE7759;
    color: #FE7759;
    background-color: transparent;
}


/* Second nav */

/* Left */


/* RIght */

.nav-second{
    width: 100%;
    background-color: white;
}

.nav-second ul{
    margin-right: 15px;
}

.nav-second ul li{
    display: inline-block;
    padding-left: 25px;
}

.nav-second ul li a{
    text-decoration: none;
    color: black;
}

.nav-second ul li a:not(#not-arrowed):after{
    content: "  \02C5";
}






/* Useful classes */

.wrapper{
    width: 1024px;
    margin: auto;
   
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

.f-right{
    float: right;
}

button{
    border-radius: 8px;
}

.orange-btn{
    background-color: #FE7759;
    border: none;
    color: white;
}

